/* // importing Inter tight font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  font-family: Inter Tight, sans-serif;
  font-weight: 450;
  font-size: 1.4rem;
  background: transparent;
  border-radius: 3rem;
  border: 1px solid #000;
  padding: 18px 36px;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease-out;
  overflow: hidden;
}

.btn .circle {
  width: 0px;
  height: 0px;
  background: black;
  border-radius: 50%;
  position: absolute;
  z-index: -1;
  will-change: transform, width, height, left, top ;
  transition: all 0.3s linear( 0, 0.1538 4.09%, 0.2926 8.29%, 0.4173 12.63%, 0.5282 17.12%, 0.6255 21.77%, 0.7099 26.61%, 0.782 31.67%, 0.8425 37%, 0.8887 42.23%, 0.9257 47.79%, 0.9543 53.78%, 0.9752 60.32%, 0.9883 67.11%, 0.9961 75%, 1 );
  transform:  translate(-50%, -50%);
}

/* .btn .btn-content {
  position: relative;
  z-index: 1;
} */

.btn.hover {
  color: #fff;
}

.btn.hover .circle {
  width: var(--circle-size);
  height: var(--circle-size);
}